.hero-main-container {
  position: absolute;
  top: 260px;
  left: 250px;
}

.hero-main-container .hero-title {
  font-size: 5rem;
  font-weight: 700;
  line-height: 130%;
}

.hero-line1 {
  position: absolute;
  left: 725px;
  top: 70px;
}

.hero-line2 {
  position: absolute;
  left: -50px;
  top: 175px;
}

.hero-bio {
  font-size: 1em;
  position: relative;
  max-width: 680px;
  left: 50px;
  top: 10px;
  z-index: 2;
}
.hero-bio span {
  font-style: italic;
}


.hero-btn {
  width: 230px;
  height: 70px;
  border-radius: 40px;
  border: solid 2px #1E255E;
  position: absolute;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #F7F7F9;
  transition: transform 1s cubic-bezier(.13,.61,.2,.89), border 1s cubic-bezier(.13,.61,.2,.89);
}
.hero-btn:hover {
  cursor: pointer;
}

.hbtn-1 {
  top: 330px;
}

.hero-btn p {
  font-size: 1.1em;
  font-weight: 500;
  margin-right: 5px;
  margin-left: calc(50% - 0.5 * 101px - 5px - 0.5 * 12px);
  z-index: 2;
  transition: color 1s cubic-bezier(.13,.61,.2,.89);
}
.hero-btn img {
  z-index: 2;
  transition: opacity 1s cubic-bezier(.13,.61,.2,.89), transform .74s cubic-bezier(.13,.61,.2,.89);
}


.hbtn-2 {
  top: 330px;
  left: 300px;
}
.hbtn-2 p {
  margin-left: calc(50% - 0.5 * 157px - 5px - 0.5 * 12px) !important;
}

.hero-btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #1E255E;
  position: absolute;
  top: -25px;
  left: -25px;
  transform: scale(0);
  transition: transform 1s cubic-bezier(.13,.61,.2,.89);
}

.harrow {
  transform: translate(-37px, 25px);
  opacity: 0;
}

.calendar {
  width: 40px;
  position: absolute;
  top: 100px;
  left: 767px;
  transform: rotate(19deg);
}

.dude {
  width: 40px;
  position: absolute;
  top: 250px;
  left: -63px;
  transform: rotate(-20deg);
}

.hero-back {
  position: absolute;
  top: 273px;
  left: 176px;
  transform: scale(1.2);
}

.hero-bio-2 {
  display: none;
}

@media screen and (max-width: 1100px) {
  .hero-main-container {
    left: 150px;
  }
  .hero-title {
    font-size: 4rem !important;
  }
  .dude, .hero-line1, .hero-line2, .calendar {
    display: none;
  }
  .hero-btn {
    top: 280px;
  }
  .hero-back {
    top: 213px;
    left: 146px;
    transform: scale(1);
  }
}

@media screen and (max-width: 1100px) {
  .hero-bio {
    max-width: 540px;
    font-size: .8rem;
  }
  .hero-btn {
    top: 260px;
  }

}

@media screen and (max-width: 800px) {
  .hero-bio {
    max-width: 540px;
    font-size: .8rem;
display: none;
  }
  .hero-bio-2 {
    display: block;
  }
  
  .hero-btn {
    top: 260px;
  }
    .hero-main-container {
    left: 20px;
  }
}

@media screen and (max-width: 650px) {
  .hero-bio {
    max-width: 85vw;
    font-size: 1.2rem;
    left: 10px;
    word-wrap: break-word;
  }
  .hero-title {
    font-size: 2.3rem !important;
  }
  .hero-btn {
    top: 300px;
  }
  .hero-main-container {
    left: 20px;
    top: 200px;
  }
  .hero-back {
    top: 200px;
    left: 265px;
    transform: scale(1.5);
    display: none;
  }
  .hbtn-2 {
    display: none;
  }
}
@media screen and (max-width: 414px) {
  .hbtn-1 {
    top: 320px;
  }
  .hero-title {
    font-size: 2rem !important;
  }
  }
  @media screen and (max-width: 374px) {
    .hbtn-1 {
      top: 335px;
    }
    }

.letter {
  display: inline-block;
}