.main-title {
  font-size: 5em;
  font-weight: 700;
}
.fadein {
  opacity: 0;
  transition: opacity 1s cubic-bezier(.13,.61,.2,.89), transform 1s cubic-bezier(.13,.61,.2,.89);
  transform: translateY(-50px);
}
.second-main-container {
  position: absolute;
  top: 960px;
  left: 250px;
}
.txt:hover {
  cursor: pointer;
}

.main-btn {
  position: absolute;
  top: 115px;
  left: 50px;
  width: 120px;
  height: 50px;
  background-color: #E4E6F8;
  text-align: center;
  opacity: .7;
  border-radius: 25px;
  transition: opacity .4s ease-in-out, transform 1s cubic-bezier(.13,.61,.2,.89), background-color 1s cubic-bezier(.13,.61,.2,.89);
  transform: scale(1);
}
.main-btn:hover {
  transform: scale(1.1);
  opacity: 1;
  cursor: pointer;
}
.main-btn p {
  position: relative;
  top: calc(50% - 0.5 * 25px);
}
.main-btn:nth-child(3) {
  left: 200px;
}

.main-btn.active {
  background-color: #7B9AFF !important;
  opacity: 1;
}
.main-bio-1 .main-title2 {
  margin-top: 15px !important;
}
.main-bio-1 {
  top: 170px !important;
}
.main-title2 {
  font-size: 2em;
  margin-top: 25px;
  font-weight: 700;
}

.main-title2:nth-child(1) {
  margin-top: 0px;
}

.main-biocontainer {
  position: absolute;
  top: 190px;
  left: 50px;
  width: fit-content;
  display: block;
}

.main-bio2 {
  width: 640px;
  position: relative;
  left: 25px;
}

.main-bio-2 {
  display: none;
}


@media screen and (max-width: 1100px) {
  .second-main-container {
    left: 150px;
  }
  .main-title {
    font-size: 5rem;
  }
  .main-title2 {
    font-size: 1.5rem;
  }
  .main-bio2 {
    font-size: .8rem;
    width: 550px;
  }

}

@media screen and (max-width: 800px) {
  .second-main-container {
    left: 20px;
  }
}

@media screen and (max-width: 650px) {
  .main-title {
    font-size: 2.7rem;
    margin-top: 30px;
  }
  .main-title2 {
    font-size: 1.3rem;
  }
  .main-bio2 {
    left: 0;
    font-size:1rem;
    width: 65vw;
  }
}